.container-img_profile .img {
    border-radius: 50%;
    border: 5px solid #588b8b;
    width: 110px;
    height: 110px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 100%;
    }

    & :hover{
        background-color: #010505;
    }
}

.banner-nickName {
    display: flex;
    justify-content: center;
    color: #c7d3d3;
}


.container-banner_profile {
    width: 100%;
    background: linear-gradient(135deg, #3a6767, #0b1f1f); 
    padding: 1.5rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}