/*Estilos de contenedor de Card Feed*/
.conteiner-card_feed {
  width: 50vw;
  background-color: #c7d3d3;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease 0.2s;
  &:hover {
    transform: scale(1.02);
    .custom-btn {
      display: block;
    }
    .cant-imgs {
      display: block;
    }
  }
}

.conteiner-card_feed-header {
  padding: 0.5rem 1rem;
  display: flex;
  gap: 10px;
}

/* Estilos de contenedor de header */

.card_feed-img .img {
  border-radius: 50%;
  border: 2px solid #588b8b;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 255, 0.493);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 100%;
  }
}
.card_feed-username {
  display: flex;
  flex-direction: column;
  gap: 0;
  & h2 {
    font-size: 1.2rem;
  }
  & p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.651);
  }
}

/* Estilos de contenedor de Body */

.card_feed-description {
  padding: 0.3rem 1rem;
  font-size: calc(12px + 0.3vw);
  color: rgb(22, 22, 22);
  width: 100ch; /* aprox. 40 caracteres */
  overflow: hidden;
  white-space: nowrap;
}

/* Estilos de footer de card*/
.conteiner-card_feed-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.021);
}

/* Estilos de boton de footer de card */
.conteiner-card_feed-footer-icons-left {
  display: flex;
  gap: 1rem;
}
.btn-card-feed {
  width: 18px;
  color: rgb(0, 0, 0);
}

/* Estilos de icono de dar me gusta */
.conteiner-heart {
  display: flex;
  gap: 0.3rem;
  cursor: pointer;
  &:hover * {
    color: rgba(255, 4, 4, 0.616);
  }

}
.liked *{
  color: rgba(255, 4, 4, 0.616);
}
/* Estilos de icono de comentario */
.conteiner-comment {
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
  &:hover * {
    color: rgba(0, 0, 255, 0.541);
  }
}
/* Estilos generales de cada btn del footer*/
.btn-footer {
  padding: 0 0.2rem;
  border-radius: 10px;
  transition: all ease .3s;
  &:active{
    transform: scale(0.7);
  }
}
.conteiner-btn-publication {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 0.4rem;
  transition: all ease .2s;
  &:hover * {
    color: #345a5a;
    & .btn-footer-text-view-publication {
      opacity: 1;
    }
  }
}
/* Texto de ver publicacion */
.btn-footer-text-view-publication {
  font-size: 0.7rem;
  opacity: 0;
  transition: all ease .2s;
}

/* Media Queris */

@media (max-width: 1000px) {
  .conteiner-card_feed {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .conteiner-card_feed {
    width: 80vw;
  }
}

@media (max-width: 400px) {
  .conteiner-card_feed {
    width: 70vw;
  }
}
