.container-main {
    padding-bottom: 2rem;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    max-width: 100%;
        /* Ajusta este valor al tamaño que desees */
        width: 100%;
        /* Asegura que se adapte bien en pantallas pequeñas */
        margin: 0 auto;
}

.cargando {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}